<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Nostr - kaosfield</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>img{max-width:100%}</style>
</head>
<body>
<h2>Nostr kind:1 logs</h2>
<%- all_ym.each do |ym| -%>
  <%- if ym =~ /\d{4}-01/ -%>
  <p><%= ym[0..3] %></p>
  <p>
  <%- end -%>
  <%- # special ym process; 2023-01, 04, 05, 06 are empty. -%>
  <%- if ym == "2023-02" -%>
  <p>2023</p>
  <p>
  2023-01
  <a href="2023-02.html">2023-02</a>
  <%- elsif ym == "2023-03" -%>
  <a href="2023-03.html">2023-03</a>
  2023-04
  2023-05
  2023-06
  <%- else -%>
  <a href="<%= ym %>.html"><%= ym %></a>
  <%- if ym =~ /\d{4}-12/ -%>
  </p>
  <%- end -%>
  <%- end -%>
<%- end -%>
</body>
</html>
